In [1]:
import selenium
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
from bs4 import BeautifulSoup
import requests

### Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
# using driver and url for opening the url page
driver = webdriver.Chrome('chromedriver.exe')
# maximising the window and waiting driver to open browser
driver.maximize_window()
driver.implicitly_wait(10)

# using the url 
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
# sending command to wait as driver needs time to load page
time.sleep(5)

# using window scrolling to scroll page down to see the desired data to scrap
for i in range(0,15):
    driver.execute_script("window.scrollBy(0,100)")

# create empty lists to store the data to be scraped
rank =[]
name =[]
artist =[]
upload =[]
views =[]

# using forloops for finding the data
# by providing xpath and then using text finding the data

# Rank of videos
RANKS=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[1]')
for i in RANKS:
    rank.append(i.text.replace(".",""))

# name of video
NAME=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[2]')
for i in NAME:
    name.append(i.text.replace('"',"").split("[")[0])

# artist/uploader who uploaded the video
ARTIST=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[3]')
for i in ARTIST:
    artist.append(i.text)

# upload date of video
UPLOAD=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[5]')
for i in UPLOAD:
    upload.append(i.text)

# views on video
VIEWS=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[4]')
for i in VIEWS:
    views.append(i.text)
    
# after scraping the data we need to store it in a format using pandas dataframe 
import pandas as pd
# setting dataframe name and then adding data by limiting the index of 30 videos
youtube =pd.DataFrame({'Ranking':rank[:30], 'Video_name':name[:30], 'Uploader':artist[:30], 
                       'Upload_Date':upload[:30], 'Views(billions)':views[:30]})

In [3]:
# checking the scraped data of top viewed videos on youtube
youtube

,Ranking,Video_name,Uploader,Upload_Date,Views(billions)
0,1,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",8.71
1,2,Despacito,Luis Fonsi,"January 12, 2017",7.38
2,3,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",5.41
3,4,Shape of You,Ed Sheeran,"January 30, 2017",5.34
4,5,See You Again,Wiz Khalifa,"April 6, 2015",5.13
5,6,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.44
6,7,Uptown Funk,Mark Ronson,"November 19, 2014",4.19
7,8,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.12
8,9,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",4.10
9,10,Gangnam Style,Psy,"July 15, 2012",4.08
10,11,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",3.90
11,12,Sugar,Maroon 5,"January 14, 2015",3.48
12,13,Sorry,Justin Bieber,"October 22, 2015",3.44
13,14,Dame Tu Cosita,El Chombo,"April 5, 2018",3.37
14,15,Roar,Katy Perry,"September 5, 2013",3.36
15,16,Counting Stars,OneRepublic,"May 31, 2013",3.31
16,17,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.26
17,18,Dark Horse,Katy Perry,"February 20, 2014",3.08
18,19,Faded,Alan Walker,"December 3, 2015",3.07
19,20,Shake It Off,Taylor Swift,"August 18, 2014",3.06
20,21,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",3.05
21,22,Lean On,Major Lazer,"March 22, 2015",3.04
22,23,Bailando,Enrique Iglesias,"April 11, 2014",3.04
23,24,Girls Like You,Maroon 5,"May 31, 2018",3.04
24,25,Let Her Go,Passenger,"July 25, 2012",3.00
25,26,Mi Gente,J Balvin,"June 29, 2017",2.92
26,27,Perfect,Ed Sheeran,"November 9, 2017",2.86
27,28,Hello,Adele,"October 22, 2015",2.84
28,29,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",2.84
29,30,Axel F,Crazy Frog,"June 16, 2009",2.82

### Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [4]:
# activate and load chrome browser
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# load the url
driver.get('https://www.bcci.tv/')


# using the navigation bar,go to fixtures option from international navigation option
international_fixtures=driver.find_element_by_xpath('//li[@class="drop-down__option  "]/a').get_attribute('href')
driver.get(international_fixtures)
time.sleep(5)

# create empty list to store data
match,series,place,date,Time = [],[],[],[],[]

# using for-loops for scraping the data for each empty list
# scraping the match title
MATCHES =driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for i in MATCHES:
    match.append(i.text)
    
#scraping the series    
SERIES =driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]/span[2]')
for i in SERIES:
    series.append(i.text)
    
# scraping the location of match   
PLACES =driver.find_elements_by_xpath('//div[@class="fixture__description u-unskewed-text"]/p/span')
for i in PLACES:
    place.append(i.text)

# scraping the day,day number,month,time using differnet xpaths and then concating them in a list
DAY =driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/span')
DAY_NO =driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')
MONTH =driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')
TIME =driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[2]')
for i in range(len(DAY)):
    date.append(DAY[i].text+","+DAY_NO[i].text+" "+MONTH[i].text.lower()+" 2021")
    Time.append(TIME[i].text)
    
# after scraping, by using above lists creating a dataframe of all data
import pandas as pd
india_fixtures=pd.DataFrame({"Match_Title":match,"Series":series,"Place":place,
                             "Date":date,"Time":Time})

In [5]:
# let's check the scraped datea of India's international fixtures
india_fixtures

,Match_Title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton","Friday,18 june 2021",15:00 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham","Wednesday,04 august 2021",15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London","Thursday,12 august 2021",15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds","Wednesday,25 august 2021",15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London","Thursday,02 september 2021",15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester","Friday,10 september 2021",15:30 IST

### Q3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [6]:
# activate and load chrome browser
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# load the url
driver.get('https://www.guru99.com/')
# waiting for 5 sec to load url
time.sleep(5)

# using xpath,click on url for selenium tutorials page
driver.find_element_by_xpath('//div[@class="srch"]/span[8]/a').click()
time.sleep(5)

# using xpath click on new url for selenium exception handling page
driver.find_element_by_xpath('//table[@class="table"]/tbody/tr[34]/td/a').click()

# create empty lists to store the data
name        =[]
description =[]

# storing xpaths in variables (exceptions and descriptions) to scrap data from them
# scrape the exception name
exceptions=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')

# scrape the description
descriptions =driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')

# now using for-loop on both the variables and append values of both in the empty list 
for i in range(len(exceptions)):
    name.append(exceptions[i].text)
    description.append(descriptions[i].text)

# importing pandas to form a dataframe of scraped data using both lists
import pandas as pd
selenium_exceptions =pd.DataFrame({"Exception Name":name[1:],"Description":description[1:]})

In [7]:
# Let's check the scraped data of selenium exception handlings
selenium_exceptions

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

### Q4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [8]:
# activate and load chrome browser
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# load the url
driver.get('http://statisticstimes.com/')
# waiting for driver 10 sec to load url
driver.implicitly_wait(10)

# go to the nav bar economy option and click on drop down button
driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/button').click()
time.sleep(3)
# go to the new url of India economy present in Eonomic drop down option
driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]').click()
time.sleep(3)
# by giving xpath of state wise gdp of india move to another url
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
 
time.sleep(3)
# scroll down the page to the table
for i in range(0,18):
    driver.execute_script("window.scrollBy(0,100)")
    
# create empty list to store data
rank =[]                             # rank of state based on gdp
state =[]                            # state's name
state_gdp_2018_to_2019 =[]           # gdp of state from 2018 to 2019
state_gdp_2019_to_2020 =[]           # gdp of state from 2019 to 2020
share_2018_to_2019 =[]               # share of state in gdp in year(2018-2019)
gdp =[]                              # gdp of state


# assigning diff. variables to webelements so that we can scrap data into above lists
RANKS =driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[1]')
STATE =driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[2]')
STATE_GDP_2018_TO_2019 =driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[4]')
STATE_GDP_2019_TO_2020 =driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[3]')
SHARE_2018_TO_2019 =driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[5]')
GDP =driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[6]')

# using for-loop on each variables assigned and then appending data into lists
for i in range(len(RANKS)):
    rank.append(RANKS[i].text)
    state.append(STATE[i].text)
    state_gdp_2018_to_2019.append(STATE_GDP_2018_TO_2019[i].text)
    state_gdp_2019_to_2020.append(STATE_GDP_2019_TO_2020[i].text)
    share_2018_to_2019.append(SHARE_2018_TO_2019[i].text)
    gdp.append(GDP[i].text)
    
# importing pandas and creating dataframe of above lists
import pandas as pd
state_gdp =pd.DataFrame({"Rank":rank, "State":state, "GSDP(18-19)":state_gdp_2018_to_2019,
                         "GSDP(19-20)":state_gdp_2019_to_2020, "Share(18-19)":share_2018_to_2019,
                         "GDP($ billion)":gdp })

In [9]:
# Let's check the scraped data of state wise gross domestic product of India
print("State_wise_gross_domestic_product_of_India -")
state_gdp

State_wise_gross_domestic_product_of_India -

,Rank,State,GSDP(18-19),GSDP(19-20),Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### Q5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [10]:
# activate and load chrome browser
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# load the url
driver.get('https://github.com/')
# waiting for driver 10 sec to load url
driver.implicitly_wait(10)

# go to the trending page using xpath 
trending=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a').get_attribute('href')
driver.get(trending)

# create empty lists
repositories=[]     # repository titles
description=[]      # repository discription
languages=[]        # languages used in repository
contributors=[]     # count of contributors present in repository

# using beautiful soup fetching the data for repository title,description and languages
soup1=BeautifulSoup(driver.page_source,'html.parser')

# applying for loop to scrap repository title
for i in soup1.find_all('span',class_="text-normal"):
    if i.text !="→":
        repositories.append(i.text.strip().replace(" /",""))
# scraping description       
for d in soup1.find_all('p',class_="col-9 color-text-secondary my-1 pr-4"):
    try:
        description.append(d.text.strip())
    except NoSuchElementException:           # using exception if no such element present 
        description.append(None)
# scraping languages        
for l in soup1.find_all('span',class_="d-inline-block ml-0 mr-3"):
    try:
        languages.append(l.text.replace("\n",""))
    except NoSuchElementException:
        languages.append(None)

# create empty list to store urls
repo_urls=[]

# now contributors data not present on same page.So fetching urls of repositores 
repository_urls=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')
for i in repository_urls:
    repo_urls.append(i.get_attribute('href'))
    
# now using for-loop  scraping contributors data from each url
for url in repo_urls:
    driver.get(url)
    
    diff_links=driver.find_elements_by_xpath('//h2[@class="h4 mb-3"]/a')
    for i in diff_links:
        count=i.get_attribute("href")
        if "contributors" in count:
            try:contributors.append(i.text.split()[1]) 
            except NoSuchElementException:
                contributors.append("NA")
                
# creating dataframe using above lists 
github = pd.DataFrame({"Repository Title":repositories[:20],"Repository Description":description[:20]
                      ,"Contributors Count":contributors[:20],"Language Used":languages[:20]})

In [11]:
# now let's check the scraped data
print("Top trending github repositories :-")
github

Top trending github repositories :-

,Repository Title,Repository Description,Contributors Count,Language Used
0,jina-ai,An easier way to build neural search on the cloud,97,Python
1,willmcgugan,Rich is a Python library for rich text and bea...,90,Python
2,monyhar,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,198,C
3,programthink,【编程随想】收藏的电子书清单（多个学科，含下载链接）,164,TypeScript
4,jwasham,A complete computer science study plan to beco...,357,Haskell
5,streamich,React Hooks — 👍,8,AGS Script
6,hasura,"Blazing fast, instant realtime GraphQL APIs on...",13,Lua
7,walidshaari,Curated resources help you prepare for the CNC...,83,C#
8,siduck76,beautiful neovim setup configured in lua,159,Python
9,trimstray,"A collection of inspiring lists, manuals, chea...",2,C++
10,lydiahallie,A long list of (advanced) JavaScript questions...,800,Rust
11,IlanKalendarov,Bitcoin Core integration/staging tree,230,Vim script
12,SuMaiKaDe,A new type of shell,669,Python
13,bitcoin,Vim-fork focused on extensibility and usability,4,JavaScript
14,nushell,Generate obfuscated meterpreter shells,286,Rust
15,neovim,iOS 14.5 WebKit/Safari based Jailbreak,676,TypeScript
16,smokeme,ripgrep recursively searches directories for a...,312,Python
17,RPwnage,Your window into the Elastic Stack,479,JavaScript
18,BurntSushi,This is a simple backtesting framework to help...,355,JavaScript
19,elastic,A powerful JavaScript library for interacting ...,18,Go

### Q6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [12]:
# activate and load chrome browser
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# load the url
url='https://www.billboard.com/'
driver.get(url)
# waiting for driver 10 sec to load url
driver.implicitly_wait(10)

# from navigation bar go to charts
charts=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[1]/div[1]/ul/li[1]/a').get_attribute('href')
driver.get(charts)

# now go to the hot100 option
hot100=driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div[1]/a').get_attribute('href')
driver.get(hot100)

# create empty lists 
song =[]          # name of song
artist =[]        # artist of song
week_rank =[]     # last week rank of song
peak_rank =[]     # peak rank of song
board_weeks =[]   # weeks on chart

# Using xpath for finding the location of data we needed and then storing in list
# scraping the song name
SONG_NAME =driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for name in SONG_NAME:
    song.append(name.text)
    
# scraping artist's name
ARTIST_NAME=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for art in ARTIST_NAME:
    artist.append(art.text)

# scraping last week rank
WEEK_RANK=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for last in WEEK_RANK:
    week_rank.append(last.text)
    
# scraping the peek week
PEAK_RANK=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for peak in PEAK_RANK:
    peak_rank.append(peak.text)
    
# scraping the weeks on chart
BOARD_WEEK =PEAK_RANK=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for board in BOARD_WEEK:
    board_weeks.append(board.text)
    
# creating dataframe using above lists
hot_100_songs= pd.DataFrame({"Song Name":song, "Artist Name":artist, "Last Week Rank":week_rank,
                            "Peak Week":peak_rank, "Weeks on board":board_weeks})

In [13]:
# Let's check scraped data of top 100 songs
print("Details of top 100 songs :-")
hot_100_songs

Details of top 100 songs :-

,Song Name,Artist Name,Last Week Rank,Peak Week,Weeks on board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

### Q7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [14]:
# activate and load chrome browser
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# load the url
driver.get('https://www.naukri.com/')
# waiting for driver 10 sec to load url
driver.implicitly_wait(10)

# navigate through recruiters and go to the new url of recruiters
recruiters=driver.find_element_by_xpath('//a[@title="Search Recruiters"]').get_attribute('href')
driver.get(recruiters)

# go to search field and add the input we want to search
search =driver.find_element_by_class_name("sugInp")    # search input area
search.send_keys("Data Science")                       # entering our input in search option
time.sleep(3)                                          # waiting for few seconds for the result sugg.
search.send_keys(Keys.ENTER)                           # for search result,using enter key 

# listing all the urls in which desired data is present
urls =[]
for i in range(1,118):
    urls.append('https://www.naukri.com/data-science-recruiters-{}'.format(i))
    
name =[]
designation =[]
company =[]
skills =[]
location =[]

# using listed urls for getting the data by applying for-loops
for i in urls:
    driver.get(i)
    driver.implicitly_wait(5)
    
    # scraping names of recruiters
    NAMES =driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
    for i in NAMES:
        name.append(i.text)
    # scraping designation of recruiters
    DESIGNATION =driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
    for i in DESIGNATION:
        designation.append(i.text)
    # scraping recruiters company name
    COMPANY =driver.find_elements_by_xpath('//a[@class="ellipsis"][2]')
    for i in COMPANY:
        company.append(i.text)
    # scraping skills mentioned by recruiters for getting hired
    SKILLS =driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
    for i in SKILLS:
        skills.append(i.text)
    # scraping the location
    LOCATION =driver.find_elements_by_xpath('//small[@class="ellipsis"]')
    for i in LOCATION:
        try:location.append(i.text)
        except NoSuchElementException:
            location.append("NA")
            
# create dataframe using the above list
recruiters =pd.DataFrame({"Name":name[:5700], "Designation":designation[:5700], "Company":company[:5700],
                          "Skills they hire for":skills[:5700], "Location":location[:5700]})

In [15]:
# Let's check the scraped data of recruiters
print("Details of datascience recruiters form Nokri.com :-")
recruiters

Details of datascience recruiters form Nokri.com :-

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
...,...,...,...,...,...
5695,Kalpashree,Human Resource Executive,Integra Micro Software Services (P) Ltd.,"Java, .Net, Node JS, PHP, Angular JS, BDE, Sal...",Noida
5696,Ronak Doshi,Company Recruiter,IMPERIA LIFE SCIENCES PRIVATE LIMITED,Not Specified,Bengaluru / Bangalore
5697,Harpreet singh,Manager,BDS recruitment Private Limited,Not Specified,Bengaluru / Bangalore
5698,mounika sagar,Company Recruiter,OMICS INTERNATIONAL PRIVATE LIMITED,"Editing, Journal, Pharmacy",Hyderabad / Secunderabad
5699,Rupali Paul,HR Recruiter,Incedo,Not Specified,Pune

### Q8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [16]:
# activate and load chrome browser
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# load the url
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
# waiting for driver 10 sec to load url
driver.implicitly_wait(10)

# scroll down the page to the table
for i in range(0,21):
    driver.execute_script("window.scrollBy(0,100)")

# create empty lists to store data
book_name =[]      # name of book
author =[]         # author's name
sales =[]          # sales of book
publisher =[]      # publisher of book
genre =[]          # genre of book

# scraping the book name or title
BOOKS= driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in BOOKS:
    book_name.append(i.text)

# scraping the authors of book
AUTHORS= driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for a in AUTHORS:
    author.append(a.text)
    
# scraping the sale of book    
SALES= driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for sale in SALES:
    sales.append(sale.text)

# scraping the publisher of book
PUBLISHERS= driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for p in PUBLISHERS:
    publisher.append(p.text)

# scraping genre of book
GENRE= driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for g in GENRE:
    genre.append(g.text)

# import pandas and creating dataframe using above list to present data
import pandas as pd
novels = pd.DataFrame({"Title":book_name, "Author":author, "Volume Sales":sales,
                       "Publisher":publisher, "Genre":genre})

In [17]:
# Let's check the scraped data of highest selling novels 
print("Details of Highest selling novels -")
Highest_selling_novels=novels
Highest_selling_novels

Details of Highest selling novels -

,Title,Author,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### Q9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [18]:
# activate and load chrome browser
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# load the url
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
# waiting for driver 10 sec to load url
driver.implicitly_wait(10)

# create empty list to store data
name =[]          # name of series/show
year_span =[]     # year span of series
genre =[]         # genre of series
runtime =[]       # runtime of series
ratings =[]       # ratings of series
votes =[]         # votes for the series

# Using xpath for finding the location of data we needed and then storing in list
# scraping the name of series
NAMES =driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/a')
for n in NAMES:
    name.append(n.text)

# scraping the year span of series
YEAR_SPAN =driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/SPAN[2]')
for year in YEAR_SPAN:
    year_span.append(year.text.replace("(","").replace(")",""))

# scraping the genre of series
GENRE =driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p/span[5]')
for g in GENRE:
    genre.append(g.text)

# scraping the runtime
RUNTIME =driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p/span[3]')
for run in RUNTIME:
    runtime.append(run.text)

# scraping the ratings
RATINGS =driver.find_elements_by_xpath('//div[@class="lister-item-content"]/div/div/span[2]')
for r in RATINGS:
    ratings.append(r.text)

# scraping the votes given to series
VOTES =driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]')
for v in VOTES:
    votes.append(v.text)
       
# import pandas and create dataframe using above lists
import pandas as pd
tv_series =pd.DataFrame({"Name":name, "Year Span":year_span, "Genre":genre, "Run time":runtime, 
                        "Ratings":ratings, "Votes":votes})

In [19]:
# Let's check the scraped data of most watched tv series
print("Most watched tv series data from imdb.com -")
tv_series

Most watched tv series data from imdb.com -

,Name,Year Span,Genre,Run time,Ratings,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.3,"1,820,074"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,8.7,"861,581"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.2,"873,460"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.6,"262,315"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"223,608"
...,...,...,...,...,...,...
95,Reign,2013–2017,"Drama, Fantasy",42 min,7.5,"44,517"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"54,999"
97,Criminal Minds,2005–2020,"Crime, Drama, Mystery",42 min,8,"167,254"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"34,834"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"190,945"

### Q10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [20]:
# activate and load chrome browser
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

# load the url
url='https://archive.ics.uci.edu/ml/index.php'
driver.get(url)
# waiting for driver 10 sec to load url
driver.implicitly_wait(10)

driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a').click()

# create empty lists to store data
dataset =[]         # name of dataset
data_type =[]       # data type present in dataset i.e univariate,bivariate or multivariate
task =[]            # default task to be used in dataset
attribute_type=[]   # types of variables/attributes present in dataset i.e integer,real,categorical
no_instances =[]    # no. of records/rows data
no_attributes =[]   # no. of variables/columns present
year =[]            # year in which data published

# Using xpath for finding the location of data we needed and then storing in list
# scraping the dataset name
DATASET=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[1]')
for data in DATASET:
    dataset.append(data.text.replace(" ",""))
    
# scraping data type
DATA_TYPE =driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[2]')
for dtype in DATA_TYPE:
    data_type.append(dtype.text.replace(" ",""))

# scraping the default task
TASK =driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[3]')
for t in TASK:
    task.append(t.text.replace(" ",""))
    
# scraping attribute types
ATTRIBUTE_TYPE =driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[4]')
for a in ATTRIBUTE_TYPE:
    attribute_type.append(a.text.replace(" ",""))
    
# scraping no. of instances
NO_INSTANCES =driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[5]')
for instance in NO_INSTANCES:
    no_instances.append(instance.text.replace(" ",""))
    
# scraping no. of attributes
NO_ATTRIBUTES =driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[6]')
for attribute in NO_ATTRIBUTES:
    no_attributes.append(attribute.text.replace(" ",""))
    
# scraping the year data published
YEAR =driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[7]')
for y in YEAR:
    year.append(y.text.replace(" ",""))
    
# importing pandas and creating dataframe using above lists
import pandas as pd
uci_repository =pd.DataFrame({"Dataset Name":dataset[1:], "Data Type":data_type[1:],
                              "Task":task[1:], "Attribute Type":attribute_type[1:], 
                              "No_of_instances":no_instances[1:],"No_of_attributes":no_attributes[1:],
                              "Year":year[1:]})

In [21]:
# Let's check the scraped data of uci machine learning repository
print("UCI Machine Learning Repository :-")
uci_repository

UCI Machine Learning Repository :-

,Dataset Name,Data Type,Task,Attribute Type,No_of_instances,No_of_attributes,Year
0,Abalone,Multivariate,Classification,"Categorical,Integer,Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical,Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical,Integer,Real",798,38,
3,AnonymousMicrosoftWebData,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical,Integer,Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehiclecouponrecommendation,Multivariate,Classification,,12684,23,2020
584,GaitClassification,Multivariate,Classification,Real,48,321,2020
585,WikipediaMathEssentials,Time-Series,Regression,Real,731,1068,2021
586,WikipediaMathEssentials,Time-Series,Regression,Real,731,1068,2021
587,SynchronousMachineDataSet,Multivariate,Regression,Real,557,5,2021