In [1]:
# importing necessary libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException

## # Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
# Creating function
def first_10jobs(url):
    # Type th job position and job location
    jop=input("Enter job position you want to search : ")
    jol=input("Enter the location for the job : ")
    
    driver=webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    driver.maximize_window()
    driver.implicitly_wait(10)
    
    # Entering job position in search option
    job_position=driver.find_element_by_id("qsb-keyword-sugg")
    # clearing the search optin before entering the input
    job_position.clear()
    # sending the input for job position in search option
    job_position.send_keys(jop)

    # for job location finding the option and entering the input
    job_location=driver.find_element_by_id("qsb-location-sugg")
    job_location.clear()
    job_location.send_keys(jol)

    # Now clicking the search button by sending the xpath and click function
    search = driver.find_element_by_xpath('//div[@class="search-btn"]/button')
    search.click()
    
     # creating empty list 
    job_position=[]
    company=[]
    experience=[]
    location=[]
    
    # using for loop by sending xpath for finding the job position 
    for i in driver.find_elements_by_xpath('//div[@class="info fleft"]/a'):
        job_position.append(i.text)
    
    # using for loop to find companies by sending xpath for company
    for j in driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]'):
        if j.text==None:
            company.append(None)
        else:
            company.append(j.text.replace("\n",""))

    # using for loop for finding the experience by sending xpath 
    for k in driver.find_elements_by_xpath('//div[@class="info fleft"]/ul/li[1]/span'):
        if  k.text==None:
            experience.append(None)
        else:
            experience.append(k.text)
        
    # using for loop for finding the job location by sending xpath
    for l in driver.find_elements_by_xpath('//div[@class="info fleft"]/ul/li[3]/span'):
        if l.text==None:
            location.append(None)
        else:
            location.append(l.text)
            
    # creating data frame 
    import pandas as pd
    analyst_jobs=pd.DataFrame({})
    analyst_jobs['Job_Position']=job_position
    analyst_jobs['Company']=company
    analyst_jobs['Experience']=experience
    analyst_jobs['Location']=location
    # Limiting only 10 jobs
    analyst_jobs=analyst_jobs[:10]

    return analyst_jobs

In [3]:
first_10jobs('https://www.naukri.com/')

Enter job position you want to search : Data Analyst
Enter the location for the job : Bangalore

,Job_Position,Company,Experience,Location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Analyst,Applied Materials4.1(94 Reviews),7-10 Yrs,Bangalore/Bengaluru
2,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt L...,2-4 Yrs,Bangalore/Bengaluru
3,DA - Urgent Opening For Data Analyst BFSI Doma...,Tata Consultancy Services Ltd.4.0(21115 Reviews),4-9 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
4,Data Analyst - Informatica MDM,Shell India Markets Private Limited4.1(623 Rev...,6-9 Yrs,Bangalore/Bengaluru
5,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs,"Mumbai, Bangalore/Bengaluru"
6,Data Analyst,Myntra Designs Pvt. Ltd.4.2(744 Reviews),3-6 Yrs,Bangalore/Bengaluru
7,Data Analyst,Myntra Designs Pvt. Ltd.4.2(744 Reviews),3-6 Yrs,Bangalore/Bengaluru
8,Data Analyst,Myntra Designs Pvt. Ltd.4.2(744 Reviews),4-9 Yrs,Bangalore/Bengaluru
9,Data Analyst,Myntra Designs Pvt. Ltd.4.2(744 Reviews),4-8 Yrs,Bangalore/Bengaluru

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [4]:
# Creating function
def datascientist_10jobs(url):
    # Type th job position and job location
    jop=input("Enter job position you want to search : ")
    jol=input("Enter the location for the job : ")
    
    driver=webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    driver.maximize_window()
    driver.implicitly_wait(10)
    
    # Entering job position in search option
    job_position=driver.find_element_by_id("qsb-keyword-sugg")
    # clearing the search optin before entering the input
    job_position.clear()
    # sending the input for job position in search option
    job_position.send_keys(jop)

    # for job location finding the option and entering the input
    job_location=driver.find_element_by_id("qsb-location-sugg")
    job_location.clear()
    job_location.send_keys(jol)

    # Now clicking the search button by sending the xpath and click function
    search = driver.find_element_by_xpath('//div[@class="search-btn"]/button')
    search.click()
    
     # creating empty list 
    job_position=[]
    company=[]
    job_description=[]
    location=[]
    
    # using for loop by sending xpath for finding the job position 
    for i in driver.find_elements_by_xpath('//div[@class="info fleft"]/a'):
        job_position.append(i.text)
    
    # using for loop to find companies by sending xpath for company
    for j in driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]'):
        if j.text==None:
            company.append(None)
        else:
            company.append(j.text.replace("\n",""))

    # using for loop for finding the job description by sending xpath 
    for k in driver.find_elements_by_xpath('//div[@class="job-description fs12 grey-text"]'):
        if  k.text==None:
            job_description.append(None)
        else:
            job_description.append(k.text)
        
    # using for loop for finding the job location by sending xpath
    for l in driver.find_elements_by_xpath('//div[@class="info fleft"]/ul/li[3]/span'):
        if l.text==None:
            location.append(None)
        else:
            location.append(l.text)
            
    # creating data frame 
    import pandas as pd
    datascientist_jobs=pd.DataFrame({})
    datascientist_jobs['Job_Position']=job_position
    datascientist_jobs['Company']=company
    datascientist_jobs['Job_Description']=job_description
    datascientist_jobs['Location']=location
    # Limiting only 10 jobs
    datascientist_jobs=datascientist_jobs[:10]

    return datascientist_jobs

In [5]:
datascientist_10jobs('https://www.naukri.com/')

Enter job position you want to search : Data Scientist
Enter the location for the job : Bangalore

,Job_Position,Company,Job_Description,Location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,Applications invited from all Freshers and exp...,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,"Senior Data Scientist, Modeling",Nielsen3.8(475 Reviews),"Masters degree in Economics, Mathematics, Stat...","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru..."
2,Data Scientist - IBM Garage,IBM India Pvt. Limited4.1(9672 Reviews),Required Technical and Professional ExpertiseP...,"Noida, Hyderabad/Secunderabad, Bangalore/Benga..."
3,Data Scientist,IBM India Pvt. Limited4.1(9672 Reviews),Should have hired and nurtured talent and grow...,"Noida, Hyderabad/Secunderabad, Bangalore/Benga..."
4,Senior Data Scientist - Credit risk,Scienaptic Systems,Responsibilities and duties Focus on developin...,Bangalore/Bengaluru
5,Big Data - Data Scientist,Xoriant Solutions Pvt Ltd4.0(248 Reviews),"High motivation, good work ethic and maturityM...","Kochi/Cochin, Indore, Hyderabad/Secunderabad, ..."
6,Specialist I - Data Scientist,Philips India Limited4.0(532 Reviews),Responsibilities and Key Result Areas Design a...,Bangalore/Bengaluru
7,Data Scientist,IBM India Pvt. Limited4.1(9672 Reviews),modeling and business system design with exper...,Bangalore/Bengaluru
8,Lead Data Scientist,Intel Technology India Pvt Ltd4.2(235 Reviews),Experience in using data analysis techniques a...,Bangalore/Bengaluru
9,SDE Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd3.7(1322 Revi...,Strong hands-on experience in implementing and...,Bangalore/Bengaluru

##  Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
* You have to use the location and salary filter.
* You have to scrape data for “Data Scientist” designation for first 10 job results.
* You have to scrape the job-title, job-location, company_name, experience_required.
* The location filter to be used is “Delhi/NCR”
* The salary filter to be used is “3-6” lakhs

In [6]:
# create a function to scrape the data naukri.com webpage using some filters
def filter_naukri_jobs(url):
    
    
    driver=webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    driver.maximize_window()

    # finding the input location and entering the input for which we want to get data
    job_search=driver.find_element_by_id("qsb-keyword-sugg")
    job_search.clear()
    job_search.send_keys("data Scientist")
    driver.implicitly_wait(10)

    # Now clicking the search button by sending the xpath and click function
    search = driver.find_element_by_xpath('//div[@class="search-btn"]/button')
    search.click()

    # applying filters for location
    for i in driver.find_elements_by_xpath('//span[@class="ellipsis fleft"]'):
        if i.text=="Delhi / NCR":
            i.click()
            break
    time.sleep(2)        

    # applying filters for salary
    for j in driver.find_elements_by_xpath('//span[@class="ellipsis fleft"]'):
        if j.text=="3-6 Lakhs":
            j.click()
            break
    time.sleep(2)
 
    # Create empty list to store scrapped data
    job_title=[]
    company=[]
    job_experience=[]
    job_location=[]
        
    time.sleep(5)
    # sending xpath for finding the job title
    for header in driver.find_elements_by_xpath('//div[@class="info fleft"]/a'):
        job_title.append(header.text)
    # sending xpath for finding company
    for comp in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
        company.append(comp.text)
    # sending xpath for finding job experience
    for exp in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span'):
        job_experience.append(exp.text)
    # sending xpath for finding job location
    for loc in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span'):
        job_location.append(loc.text)
    
    # creating dataframe
    import pandas as pd
    filter_jobs=pd.DataFrame({})
    filter_jobs['Job_Title']=job_title
    filter_jobs['Company']=company
    filter_jobs['Experience']=job_experience
    filter_jobs['Location']=job_location
   
    return filter_jobs

In [7]:
filter_naukri_jobs('https://www.naukri.com/')

,Job_Title,Company,Experience,Location
0,Data Scientist,Biosense Technologies Pvt Ltd,1-2 Yrs,Thane
1,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,3-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
2,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
3,Data Scientist,Analytos,2-4 Yrs,India
4,Data Scientist,Protocol Zone,1-4 Yrs,Ahmedabad
5,Data Scientist,Sybrant Data,2-4 Yrs,Chennai
6,Data Scientist,Global Talent Pool,2-4 Yrs,Bengaluru
7,Associate Data Scientist - Process Mining,Shell India Markets Private Limited,3-7 Yrs,Chennai
8,Data Scientist,Microsoft Corporation,1-2 Yrs,Hyderabad
9,Data Scientist,Skillsoft,1-3 Yrs,Hyderabad/Secunderabad
10,Data Scientist Machine Learning,Delhivery,1-3 Yrs,Gurgaon/Gurugram
11,Data Scientist,placementplanet,2-3 Yrs,Ahmedabad
12,Data Scientist,Shadowfax Technologies Pvt. Ltd.,1-3 Yrs,Gurgaon/Gurugram
13,Data Scientist,GD Research Center Pvt Ltd,2-4 Yrs,Hyderabad/Secunderabad
14,"Data Analyst with Power BI , Tableau, Advance ...",EXCELVANA PVT. LTD,2-7 Yrs,"Mumbai, Navi Mumbai, Mumbai (All Areas)"
15,Data Science Engineer/ML Engineer,MATPLAT,0-5 Yrs,Bangalore/Bengaluru
16,Freelance | Data Analyst -BioScience,Perfect Digital Media Resources Pvt Ltd,1-5 Yrs,Chennai(Kilpauk)
17,Data Engineer - Big Data Engineer,CAIA -Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,..."
18,Data Scientist Operational Research,Delhivery,1-3 Yrs,Gurgaon/Gurugram
19,Data Analyst -BioScience,Perfect Digital Media Resources Pvt Ltd,1-5 Yrs,Chennai(Kilpauk)

## Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button.

In [9]:
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException

driver=webdriver.Chrome('chromedriver.exe')
url="https://www.glassdoor.co.in/index.htm"
driver.get(url)
time.sleep(3)
driver.find_element_by_xpath('//div[@class="d-flex"]/button').click()

email=driver.find_element_by_xpath('//input[@id="userEmail"]')
email.send_keys("asheemsiwach.66199.maeco@gmail.com")

password=driver.find_element_by_xpath('//input[@id="userPassword"]')
password.send_keys("abcdefghijkl0123")

sign_in=driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]').click()
driver.maximize_window()

time.sleep(3)
driver.find_element_by_xpath('//*[@id="sc.keyword"]').send_keys('Data Scientist')
driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys(Keys.CONTROL+'a')
driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys(Keys.DELETE)
time.sleep(3)
driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys('Noida (India)')
time.sleep(3)
driver.find_element_by_xpath("//button[@data-test='search-bar-submit']").click()
time.sleep(5)

company=[]
days_ago=[]
ratings=[]

for i in driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")[:10]:
    if i.text==None:
        ratings.append("None")
    else:
        ratings.append(i.text)
driver.implicitly_wait(10)
for c in driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a/span")[:10]:
    company.append(c.text)
driver.implicitly_wait(10)
for d in driver.find_elements_by_xpath("//div[@data-test='job-age']")[:10]:
    days_ago.append(d.text)
    
    
import pandas as pd
glassdoor_jobs=pd.DataFrame({})
glassdoor_jobs['company']=company[:10]
glassdoor_jobs['Ratings']=ratings[:10]
glassdoor_jobs['Days_Posted']=days_ago[:10]

glassdoor_jobs[:10]

                                           company Ratings Days_Posted
0                                          Bechtel     4.0         15d
1                         Lantern Digital Services     3.7          6d
2                                 Mansha Solutions     4.1          8d
3                                  Priority Vendor     3.1         12d
4                                         Ericsson     4.1         13d
5                             Gauge Data Solutions     4.3         12d
6  Siemens Technology and Services Private Limited     4.1         24h
7                                          Webhelp     3.8          5d
8                                         Sparkbpl     5.0         12d
9                                         Axslogic     4.0         10d

## Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.

In [10]:
# creating function for finding salaries of different companies from glassdoor website

def salaries(url):
    
    # inputs for the data
    job=input("Enter the job title : ")
    location=input("Enter location for job : ")
    
    # Load the driver and get url
    driver = webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    time.sleep(3)
    # maximizing window
    driver.maximize_window()
    
    # Searching the location for input and sending the input
    search_job=driver.find_element_by_xpath('//input[@id="KeywordSearch"]').send_keys(job)
    search_location=driver.find_element_by_xpath('//input[@id="LocationSearch"]').send_keys(Keys.CONTROL+"a")
    search_location=driver.find_element_by_xpath('//input[@id="LocationSearch"]').send_keys(Keys.BACKSPACE)
    search_location=driver.find_element_by_xpath('//input[@id="LocationSearch"]').send_keys(location)
    
    # by sending xpath for search option, submitting the result
    search=driver.find_element_by_xpath('//button[@type="submit"]').click()
    time.sleep(5)
    
    # creating empty lists
    companies=[]
    average_salary=[]
    min_salary=[]
    max_salary=[]
    
    # applying forloops for finding the desired resutl
    # by using xpath finding the companies name
    for company in driver.find_elements_by_xpath('//div[@class="d-flex"]/div[2]/p[2]')[:10]:
        companies.append(company.text)
    # by using xpath finding the average salary   
    for average in driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]')[:10]:
        average_salary.append(average.text)
        
    # by using xpath finding the minimum salary
    for minimum in driver.find_elements_by_xpath('//div[@class="col-3 offset-1 d-none d-md-block"]/div/div[2]/span[1]')[:10]: 
        min_salary.append(minimum.text)
    # by using xpath finding maximum salary
    for maximum in driver.find_elements_by_xpath('//div[@class="col-3 offset-1 d-none d-md-block"]/div/div[2]/span[2]')[:10]:
        max_salary.append(maximum.text)
    
    time.sleep(2)   
    
    # creating dataframe of scrapped data
    import pandas as pd
    glassdoor_salaries=pd.DataFrame({})
    glassdoor_salaries['Company']=companies
    glassdoor_salaries['Average Salary']=average_salary
    glassdoor_salaries['Minimum Salary']=min_salary
    glassdoor_salaries['Maximum Salary']=max_salary

    return glassdoor_salaries

In [11]:
salaries('https://www.glassdoor.co.in/Salaries/index.htm')

Enter the job title : Data Scientist
Enter location for job : Noida

                     Company    Average Salary Minimum Salary Maximum Salary
0  Tata Consultancy Services   ₹ 6,11,228\n/yr          ₹343K        ₹1,095K
1                  Accenture  ₹ 11,46,533\n/yr          ₹577K        ₹2,213K
2                        IBM   ₹ 8,97,795\n/yr          ₹586K        ₹2,730K
3         Ericsson-Worldwide   ₹ 7,38,057\n/yr          ₹355K        ₹1,613K
4                  Delhivery  ₹ 12,39,781\n/yr          ₹450K       ₹11,622K
5         UnitedHealth Group  ₹ 13,36,142\n/yr        ₹1,069K        ₹1,520K
6         Valiance Solutions   ₹ 8,15,192\n/yr          ₹502K        ₹1,465K
7              ZS Associates  ₹ 11,35,221\n/yr          ₹202K        ₹1,809K
8                EXL Service  ₹ 11,44,243\n/yr          ₹575K        ₹1,520K
9     Optum Global Solutions  ₹ 14,13,288\n/yr        ₹1,014K        ₹2,149K

## Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount

In [12]:
# creating function to scrap the data of 100 sunglasses from flipkart
def sunglasses_listing(url):
    
    
    driver=webdriver.Chrome('chromedriver.exe')
    # by sending url getting webpage permission
    driver.get(url)
    time.sleep(5)
    # Before entering the output removing the login option
    without_login=driver.find_element_by_xpath('//div[@class="_2QfC02"]/button')
    without_login.click()
    # maximizing window
    driver.maximize_window()
     
    # finding the input option and clearing it and then sending the input we want
    search=driver.find_element_by_class_name("_3704LK")
    search.clear()
    search.send_keys("sunglasses")
    time.sleep(3 )
    # finding and clicking the search button
    searching=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]') 
    searching.click()
    
    # creating empty list for saving data 
    brands=[]
    product_desc=[]
    price=[]
    discount=[]

    # applying forloop for scrapping data from many pages
    start_page=0
    end_page=3
    for page in range(start_page,end_page+1):
        time.sleep(3)
        # sending xpath for finding the brand name
        for brand in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
            brands.append(brand.text)
        # sending xpath for finding the product description
        for product in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
            if driver.find_element_by_xpath('//a[@class="IRpwTa"]')==None:
                product_desc.append("NA")
            else:
                product_desc.append(product.text)
        # sending xpath for finding the price of product
        for p in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
            price.append(p.text)
        # sending xpath for finding discount on product
        for dis in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
            discount.append(dis.text)
       
        # Applying if else conditon to go to next page
        if page==0:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        else:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]').click()
        time.sleep(3)
    
    # creating dataframe
    import pandas as pd
    sunglasses=pd.DataFrame({})
    sunglasses['Brand']=brands[:100]
    sunglasses['product_description']=product_desc[:100]
    sunglasses['Price']=price[:100]
    sunglasses['Discount']=discount[:100]

    return sunglasses

In [13]:
sunglasses_listing('https://www.flipkart.com/')

,Brand,product_description,Price,Discount
0,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹209,70% off
1,AISLIN,"UV Protection, Gradient Round, Shield Sunglass...",₹395,77% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630,21% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
4,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
...,...,...,...,...
95,GANSTA,"UV Protection, Polarized Wayfarer Sunglasses (56)",₹359,82% off
96,Fastrack,UV Protection Aviator Sunglasses (58),₹759,15% off
97,Fastrack,"UV Protection, Mirrored Wayfarer Sunglasses (53)","₹1,115",14% off
98,GANSTA,Mirrored Aviator Sunglasses (Free Size),₹224,77% off
99,ROYAL SON,"UV Protection, Night Vision, Gradient, Mirrore...",₹399,73% off

## Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. 
You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews

In [14]:
# Creating function

def reviews(url):
    # Loading driver and url
    driver=webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    driver.implicitly_wait(10)
    driver.maximize_window()
    
    # goint to the review's webpage
    driver.find_element_by_xpath('//div[@class="col JOpGWq"]/a').click()
    time.sleep(3)
    
    # Creating empty lists
    ratings=[]
    title=[]
    reviews=[]

    start_page=0
    end_page=10
    driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[11]').click()
    for page in range(start_page,end_page+1):
        time.sleep(2)
        # by using xpath finding titles
        for t in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
            title.append(t.text)
        # By using xpath finding reviews
        for rev in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[2]/div/div'):
            reviews.append(rev.text)
        # by using xpath finding ratings
        for r in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
            ratings.append(r.text)
        time.sleep(2)    
    
        # if else conditions for going to next page    
        if page ==0:
            a=driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[11]').click()
            driver.implicitly_wait(10)    
        else:
            driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
    
        time.sleep(2)
        
        
    # Creating dataframe
    import pandas as pd
    iphone_reviews=pd.DataFrame({})
    iphone_reviews['ratings']=ratings[:100]
    iphone_reviews['title']=title[:100]
    iphone_reviews['reviews']=reviews[:100]

    return iphone_reviews

In [15]:
iphone_reviews=reviews("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")
iphone_reviews

,ratings,title,reviews
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...
96,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
97,5,Fabulous!,Product is nice at the deviled time the delive...
98,5,Excellent,Just go for it.\nThis phone is really amazing....
99,4,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...

## Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount

In [16]:
# creating function to scrap the data of 100 sneakers from flipkart
def sneakers_listing(url):
    
    
    driver=webdriver.Chrome('chromedriver.exe')
    # by sending url getting webpage permission
    driver.get(url)
    time.sleep(5)
    # Before entering the output removing the login option
    without_login=driver.find_element_by_xpath('//div[@class="_2QfC02"]/button')
    without_login.click()
    # maximizing window
    driver.maximize_window()
     
    # finding the input option and clearing it and then sending the input we want
    search=driver.find_element_by_class_name("_3704LK")
    search.clear()
    search.send_keys("sneakers")
    time.sleep(3 )
    # finding and clicking the search button
    searching=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]') 
    searching.click()
    
    # creating empty list for saving data 
    brands=[]
    product_desc=[]
    price=[]
    discount=[]

    # applying forloop for scrapping data from many pages
    start_page=0
    end_page=3
    for page in range(start_page,end_page+1):
        time.sleep(3)
        # sending xpath for finding the brand name
        for brand in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
            brands.append(brand.text)
        # sending xpath for finding the product description
        for product in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
            if driver.find_element_by_xpath('//a[@class="IRpwTa"]')==None:
                product_desc.append("NA")
            else:
                product_desc.append(product.text)
        # sending xpath for finding the price of product
        for p in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
            price.append(p.text)
        # sending xpath for finding discount on product
        for dis in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
            discount.append(dis.text)
       
        # Applying if else conditon to go to next page
        if page==0:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        else:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]').click()
        time.sleep(3)
    
    # creating dataframe
    import pandas as pd
    sneakers=pd.DataFrame({})
    sneakers['Brand']=brands[:100]
    sneakers['product_description']=product_desc[:100]
    sneakers['Price']=price[:100]
    sneakers['Discount']=discount[:100]

    return sneakers

In [17]:
sneakers_listing('https://www.flipkart.com/')

,Brand,product_description,Price,Discount
0,LEVI'S,Basic 2.0 Sneakers For Men,"₹1,499",50% off
1,oxpeo,Colourblocked Trending Multicolor Ultralight c...,₹419,58% off
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
3,Numenzo,Sneakers For Men,₹398,60% off
4,HOTSTYLE,Sneakers Sneakers For Men,₹283,43% off
...,...,...,...,...
95,Numenzo,Fashionable casual sneakers shoes Sneakers For...,₹599,66% off
96,bluemaker,5001 Sneakers For Men,₹474,55% off
97,Englewood,Puma Wired Cage Sneakers For Men,₹499,68% off
98,ESSENCE,Men Sports Sneakers For Men,₹449,30% off
99,Aircum,AART CORE Sneakers For Men,₹474,63% off

----------------- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -----------------

## Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”.And then scrape First 100 shoes data you get.

In [18]:
# Creating function for scrapping the data using filters
def filter_shoes(url):
    
    # Loading the drivers and url
    driver=webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    driver.implicitly_wait(10)

    # by using xpath selecting color filter for scrapping desired data 
    if driver.find_element_by_xpath('//span[@data-colorhex="black"]') != None:
        driver.find_element_by_xpath('//span[@data-colorhex="black"]').click()
    time.sleep(2)
    # by using the xpath selecting price filter
    if driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]') != None:
        driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]').click()
    
    time.sleep(2)

    # creating empty list for storing scrapped data
    brands=[]
    short_description=[]
    prices=[]

    count=0
    while count <2:
        # using for loop finding the brands naem for shoes
        for brand in driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h3'):
            brands.append(brand.text)
        # Using for loop findig short description of shoes 
        for desc in driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h4[1]'):
            short_description.append(desc.text)
        # using for loop finding the price of shoes    
        for price in driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]'):

            try:
                prices.append(price.text)
            except NoSuchElementException:
                prices.append(driver.find_element_by_xpath('//span[@class="product-strike"]').text)
    
        # by using xpath moving to next page for more data  
        driver.find_element_by_xpath('//a[@rel="next"]').click()
        time.sleep(2)
    
        count+=1   

    # Creating dataframe
    import pandas as pd
    shoes=pd.DataFrame({})
    shoes['Brand_Name']=brands[:100]
    shoes['Product_Description']=short_description[:100]
    shoes['Product_Price']=prices[:100]
 
    return shoes

In [19]:
myntra_shoes=filter_shoes("https://www.myntra.com/shoes")
myntra_shoes

         Brand_Name             Product_Description       Product_Price
0              Nike     Men JORDAN DELTA Basketball           Rs. 12495
1              Nike    Men KD13 EP Basketball Shoes           Rs. 12995
2   PUMA Motorsport   Unisex Mercedes Running Shoes            Rs. 7999
3              Nike    Women AIR ZOOM Running Shoes   Rs. 7721Rs. 10295
4              Nike      Men React Infinity Running  Rs. 10846Rs. 15495
..              ...                             ...                 ...
94             Nike     Women AIR MAX VIVA Sneakers           Rs. 12495
95     UNDER ARMOUR  Charged RC Sportstyle Sneakers            Rs. 8999
96     UNDER ARMOUR   Charged Rogue 2 Running Shoes            Rs. 7999
97     UNDER ARMOUR   Women Charged Breathe OIL SLK            Rs. 8999
98            Ruosh             Men Textured Derbys            Rs. 8990

[99 rows x 3 columns]

## Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”.
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [20]:
def laptop(url):
    
    #load the drivers and URL
    driver = webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    
    
    #create empty list for storing the data
    item_title=[]
    price=[]
    rating=[]
    
    #search for laptop product and then click search button
    driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptop')
    driver.find_element_by_xpath('//input[@type="submit"]').click()
        
    #apply filter for "Intel Core i7"
    driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a',).click()
    time.sleep(5)
    
    #apply filter for "Intel Core i9"  
    
        
    #scrape the data
    for view in driver.find_elements_by_xpath('//div[@class="sg-col sg-col-4-of-12 sg-col-8-of-16 sg-col-12-of-20"]'):
        titles=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
        for i in titles:
            item_title.append(i.text)
        item_title=item_title
        prices=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
        for i in prices:
            try:
                price.append(i.text)
            except NoSuchElementException:
                price.append("Not Available")
        price=price      
        ratings=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')   
        for i in ratings:
            try:
                rating.append(i.get_attribute('aria-label'))
            except NoSuchElementException:
                rating.append("Not Avialable")
        rating=rating     
        
    time.sleep(2)
        
    driver.find_element_by_xpath('//*[@id="filters"]/ul[1]/li[1]/span/a/span[2]').click()
    time.sleep(5)
    driver.implicitly_wait(10)
     
    try:    
        driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598162031"]/span/a').click()
    except NoSuchElementException as NV:
        print(NV)
    
        
        
    #create a DataFrame for our data
    amazon_laptops=pd.DataFrame({})
    amazon_laptops['Title']=item_title[:50]
    amazon_laptops['Price']=price[:50]
    amazon_laptops['Rating']=rating[:50]
    return amazon_laptops

In [21]:
laptop('https://www.amazon.in/')

Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="p_n_feature_thirteen_browse-bin/12598162031"]/span/a"}
  (Session info: chrome=90.0.4430.212)

,Title,Price,Rating
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"53,999",4.4 out of 5 stars
1,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...","1,35,490",4.3 out of 5 stars
2,"Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...","3,43,099",4.0 out of 5 stars
3,(Renewed) HP 840g2 Elitebook Laptop ( Intel Co...,"53,990",3.1 out of 5 stars
4,Lenovo Ideapad 720s Intel Core i7 8th Gen 13.3...,"89,990",4.7 out of 5 stars
5,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...","33,990",2.6 out of 5 stars
6,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"83,990",4.0 out of 5 stars
7,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,"2,01,524",4.5 out of 5 stars
8,"2019 HP 17.3"" HD+ Touchscreen Laptop Computer","1,34,999",1.9 out of 5 stars
9,OMEN by HP 15.6-inch 10th Gen Intel Core i7-10...,"36,990",3.1 out of 5 stars
10,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"1,17,999",2.6 out of 5 stars
11,"Dell Inspiron 7306 i7 11th Gen, x360 13.3"" 4K ...","33,990",4.1 out of 5 stars
12,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"91,490",4.4 out of 5 stars
13,"Acer Swift 5 14"" (35.56cms) Full HD IPS Displa...","79,980",3.6 out of 5 stars
14,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,"78,593",4.2 out of 5 stars
15,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...","3,05,701",4.3 out of 5 stars
16,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"97,990",3.0 out of 5 stars
17,Razer Blade Pro 17 Gaming Laptop 2019,"99,999",3.0 out of 5 stars
18,"Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14""...","85,990",3.0 out of 5 stars
19,"MSI Prestige 14Evo A11M-492IN 14"" FHD Gaming L...","46,290",3.0 out of 5 stars
20,"Dell Inspiron 5406 14"" FHD Touch Display 2in1 ...","91,499",4.4 out of 5 stars
21,(Renewed) Lenovo Intel 4th Gen Core i7-4980HQ ...,"69,990",4.3 out of 5 stars
22,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"39,999",4.0 out of 5 stars
23,Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch D...,"39,999",3.1 out of 5 stars
24,(Renewed) Lenovo T430 14-inch Laptop (Core i7/...,"53,999",4.7 out of 5 stars
25,(Renewed) Dell Intel 4th Gen Core i7 4600U 14-...,"1,35,490",2.6 out of 5 stars
26,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"3,43,099",4.0 out of 5 stars
27,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...","53,990",4.5 out of 5 stars
28,"Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...","89,990",1.9 out of 5 stars
29,(Renewed) HP 840g2 Elitebook Laptop ( Intel Co...,"33,990",3.1 out of 5 stars
30,Lenovo Ideapad 720s Intel Core i7 8th Gen 13.3...,"83,990",2.6 out of 5 stars
31,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...","2,01,524",4.1 out of 5 stars
32,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"1,34,999",4.4 out of 5 stars
33,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,"36,990",3.6 out of 5 stars
34,"2019 HP 17.3"" HD+ Touchscreen Laptop Computer","1,17,999",4.2 out of 5 stars
35,OMEN by HP 15.6-inch 10th Gen Intel Core i7-10...,"33,990",4.3 out of 5 stars
36,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"91,490",3.0 out of 5 stars
37,"Dell Inspiron 7306 i7 11th Gen, x360 13.3"" 4K ...","79,980",3.0 out of 5 stars
38,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"78,593",3.0 out of 5 stars
39,"Acer Swift 5 14"" (35.56cms) Full HD IPS Displa...","3,05,701",3.0 out of 5 stars
40,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,"97,990",4.4 out of 5 stars
41,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...","99,999",4.3 out of 5 stars
42,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"85,990",4.0 out of 5 stars
43,Razer Blade Pro 17 Gaming Laptop 2019,"46,290",3.1 out of 5 stars
44,"Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14""...","91,499",4.7 out of 5 stars
45,"MSI Prestige 14Evo A11M-492IN 14"" FHD Gaming L...","69,990",2.6 out of 5 stars
46,"Dell Inspiron 5406 14"" FHD Touch Display 2in1 ...","39,999",4.0 out of 5 stars
47,(Renewed) Lenovo Intel 4th Gen Core i7-4980HQ ...,"39,999",4.5 out of 5 stars
48,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"53,999",1.9 out of 5 stars
49,Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch D...,"1,35,490",3.1 out of 5 stars